* {
    padding: 0px;
    margin: 0px;
}

/* layout */
body{
    font-size: 1em;
    font-family: 'Trebuchet MS', Helvetica,sans-serif;
    background: #E6E6E6;
}
#header{
    width: 100%;
    padding: 15px;
    background: #1C1C1C;
    margin-bottom: 25px;
}
#logo{
    display: inline-block;
    color: #CCC;
    padding-right: 70%;
    padding-left:5%;
}
#menu{
    display: inline-block;
}
#map{
    height: 650px; 
    width: 80%;
    margin: 0px auto;
}
#rodape{
    width: 100%;
    padding: 15px;
    background: #1C1C1C;
    margin-top: 25px;
    color: #CCC;
    text-align: center;
}
/* config link */
#menu a{
    text-decoration: none;
}
#menu a:link, #menu a:visited{
    color: #CCC;
    font-weight: 800;
    font-size: 1.5em;
}
#menu a:hover{
    color: #32CD32;
}